html{
    overflow-x: hidden;
}
body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin: 0;
    font-family: Josefin sans;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

header{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080808;
    overflow: hidden;
    overflow-x: hidden;
}
.navigation{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.982);
    box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.352);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    z-index: 1;
}
.navigation nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
.navigation nav ul a{
    text-decoration: none;
    color: rgb(202, 203, 255);
    font-size: 18px;
    font-weight: bold;
}
.fa-bars{
    display: none;
}
.submenu-close{
    color: black;
    display: none;
    margin: 10px;
}
.menu-toggle{
    visibility: hidden;
}
#user-name{
    position: relative;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.user-options{
    position: absolute;
    left: 0;
    top: 17px;
    background-color: rgb(21, 21, 28);
    width: auto;
    height: auto;
    padding: 20px 10px;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    display: none;
}
#user-name:hover .user-options{
    display: flex;
}
#signup-link{
    border: 1px solid rgb(202, 203, 255);
    padding: 10px;
    transition: all 1s ease;
}

#signup-link:hover{
    background-color: rgb(202, 203, 255);
    color: black;
}
.logo{
    max-width: 150px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: rgb(202, 203, 255);
    font-size: 15px;
}
.logo img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.cart-icon{
    color: rgb(202, 203, 255);
    font-size: 30px;
    text-decoration: none;
    position: relative;
    text-decoration: none;
}
.search-panel{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.search-panel form{
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
}
.search-panel input[type="search"]{
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    border: 0.1px solid gray;
}
.search-panel input[type="search"]:focus{
    outline: rgb(202, 203, 255);
    box-shadow: 0px 0px 20px rgba(202, 203, 255, 0.2);
}
.search-panel input[type="submit"]{
    width: 200px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(202, 203, 255);
    border-radius: 10px;
}
#user-name{
    position: relative;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(202, 203, 255);
}
.user-options{
    position: absolute;
    left: 0;
    top: 17px;
    background-color: rgb(21, 21, 28);
    width: auto;
    height: auto;
    padding: 20px ;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    display: none;
}
#user-name:hover .user-options{
    display: flex;
}
.mobile-menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #080808;
    z-index: 3;
    padding: 10px;
    transform: translateX(-100%);
    transition: all 1s ease;
}
.mobile-menu.active{
    transform: translateX(0);
}
.mobile-menu nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mobile-menu nav ul a{
    text-decoration: none;
    color: rgb(202, 203, 255);
    font-size: 18px;
    font-weight: bold;
}
.mobile-menu .search-panel{
    width: 90%;
}
.menu-toggle{
    font-size: 30px;
    color: rgb(202, 203, 255);
}
.mobile-menu .search-panel button{
    padding: 10px;
    border: none;
    background-color: rgb(162, 163, 251);
}
main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-top: 100px;
}
.acc-info{
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    padding: 10px;
}
.options{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.352);
    overflow: hidden;
}
.options a{
    padding: 20px;
    width: 100%;
    text-decoration: none;
    color: black;
}
.selected-page{
    background-color:rgba(109, 111, 255, 0.298);
}
#logout-link{
    color: rgb(109, 112, 255);
}
.details{
    width: 60%;
    height: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.acc-details, .shipping-details{
    display: flex;
    flex-direction: column;
    border: 0.1px solid rgb(166, 166, 166);
    width: 100%;
}
.acc-details h3, .shipping-details h3, .order-details h3, .messages h3, .recents h3, .subscriptions h3{
    padding: 10px;
    border-bottom: 0.1px solid rgb(166, 166, 166);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.recents h3 a{
    text-decoration: none;
    color: rgb(88, 91, 251);
    font-size: 16px;
}
.main-details, .loc{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.recommendations{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
.items{
    max-width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    height: 400px;
    text-decoration: none;
    overflow: hidden;
    padding: 5px;
}
.items h3{
    width: 100%;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.items a{
    text-decoration: none;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: black;
    
}

.item-images{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.order-details, .messages, .recents, .subscriptions{
    width: 60%;
    height: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 0.1px solid rgb(166, 166, 166);
    border-radius: 5px;
}
.orders, .inbox, .subscribed{
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.no-orders, .no-messages, .no-viewed-items, .no-subscriptions{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.no-orders i, .no-messages i, .no-viewed-items i, .no-subscriptions i{
    font-size: 40px;
    color: rgb(109, 112, 255);
    filter: drop-shadow(0px 0px 50px rgb(109, 112, 255));
}
.no-orders a, .no-messages a, .no-viewed-items a, .no-subscriptions a{
    width: 200px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: rgb(109, 112, 255);
    border-radius: 10px;
}
.no-subscriptions form{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.no-subscriptions form input:required{
    padding: 10px;
    border: 0.2px solid rgba(202, 203, 255, 0.656);
    border-radius: 10px;
    width: 50%;
}
.no-subscriptions form input[type="submit"]{
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(202, 203, 255);
    border-radius: 10px;
}
.order{
    width: 90%;
    border: 0.1px solid rgb(166, 166, 166);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.order-header{
    width: 100%;
    border-bottom: 0.1px solid rgb(166, 166, 166);
    padding: 10px;
}
.order-det{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.viewed-items{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.products-viewed{
    width: 100%;
    height: auto;
    display: flex;
    padding: 10px;
}
.products-viewed a{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(109, 112, 255);
    width: 90%;
    border-radius: 5px;
}
.products-viewed a img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.subscription{
    width: 90%;
    border: 0.1px solid rgb(166, 166, 166);
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.subscription div{
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.alerts{
    position: fixed;
    right: 10%;
    top: 15%;
    z-index: 3;
    width: 200px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(109, 112, 255);
}
.message{
    width: 90%;
    padding: 10px;
    height: 70px;
    border: 1px solid rgb(109, 112, 255);
    overflow-y: hidden;
    cursor: pointer;
}
.message.read{
    background-color: rgba(255, 0, 0, 0.055);
}
.message h5{
    color: rgb(109, 112, 255);
}
.message-display{
    position: fixed;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: rgb(162, 163, 251);
    color: black;
    z-index: 3;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.352);
    border-radius: 10px;
    scale: 0;
    transition: all 1s ease;
}
.message-display.active{
    scale: 1;
}
.message-display h2{
    text-align: center;
}
.close-message{
    position: absolute;
    top: 2%;
    right: 2%;
    color: white;
    cursor: pointer;
    font-size: 30px;
}
.notification-dot {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
.hide {
    display: none;
}

#clear-all{
    padding: 5px;
    cursor: pointer;
    background-color: rgb(109, 112, 255);
    color: white;
    border-radius: 5px;
    border: none;
}
footer{
    width: 100%;
    background-color: #080808;
    color: rgb(162, 163, 251);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

@media screen and (max-width: 800px) {
    .message-display{
        left: 4%;
    }
}
@media screen and (max-width:700px) {
    .options{
        position: fixed;
        left: 0;
        top: 0;
        width: 90%;
        height: 100vh;
        transform: translateX(-100%);
        transition: all 1s ease;
        z-index: 3;
        background-color: #080808;
    }
    .options a{
        color: rgb(202, 203, 255);
    }
    .options.active{
        transform: translateX(0);
    }
    .details{
        width: 95%;
    }
    .acc-info{
        padding: 0;
        justify-content: center;
    }
    .order-details, .messages, .recents, .subscriptions{
        width: 95%;
    }
    .submenu-toggle{
        display: block;
        font-size: 30px;
        color: rgb(202, 203, 255);
    }
    .navigation nav{
        display: none;
    }
    .navigation .search-panel{
        display: none;
    }
    .navigation .cart-icon{
        display: none;
    }
    .submenu-close{
        display: block;
    }
    .menu-toggle{
        visibility: visible;
    }
    .viewed-items{
        padding: 0;
    }
}