body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin: 0;
    font-family: Josefin sans;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

header{
    width: 100%;
    height: 900px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080808;
    overflow: hidden;
}
.search-header{
    width: 100%;
    height: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080808;
}
.hero-img{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 10%;
    top: 15%;
    object-fit: contain;
    filter: drop-shadow(10px 0px 30px rgba(0, 0, 0, 0.7)) brightness(60%);
}
.navigation{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 30px 20px black;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    z-index: 1;
}
.navigation nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
.navigation nav ul a{
    text-decoration: none;
    color: rgb(202, 203, 255);
    font-size: 18px;
    font-weight: bold;
}
#user-name{
    position: relative;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.user-options{
    position: absolute;
    left: 0;
    top: 17px;
    background-color: rgb(21, 21, 28);
    width: auto;
    height: auto;
    padding: 20px 10px;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    display: none;
}
#user-name:hover .user-options{
    display: flex;
}
#signup-link{
    border: 1px solid rgb(202, 203, 255);
    padding: 10px;
    transition: all 1s ease;
}

#signup-link:hover{
    background-color: rgb(202, 203, 255);
    color: black;
}
.logo{
    max-width: 150px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: rgb(202, 203, 255);
    font-size: 15px;
}
.logo img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.header-text-big{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    font-size: 70px;
    color: rgb(202, 203, 255);
}

/*SEARCH PAGE ALIGN*/


.header-text-big-search{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-evenly;
    font-size: 50px;
    color: rgb(202, 203, 255);
}
.header-text-big-search div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-shadow: 30px 30px 20px black;
    padding-bottom: 100px;
}
.header-text-big h1{
    text-align: center;
    text-shadow: 30px 30px 20px black;
}
.header-text-big div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-shadow: 30px 30px 20px black;
    padding-bottom: 100px;
}
.search-filters{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 50px;
    border-bottom: 1px solid gray;
    padding: 30px 0;
}
.filters{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sorts{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.sorts button{
    width: 150px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(165, 167, 253);
    border-radius: 5px;
}
.search-panel{
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    margin: 5px;
}
.search-panel form{
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
}
.search-panel input[type="search"]{
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    border: 0.1px solid gray;
}
.search-panel input[type="search"]:focus{
    outline: rgb(202, 203, 255);
    box-shadow: 0px 0px 20px rgba(202, 203, 255, 0.2);
}
.search-panel input[type="submit"]{
    width: 200px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(202, 203, 255);
    border-radius: 10px;
}
main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

/*SEARCH RESULTS CON*/


.search-res{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.items{
    max-width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    height: 400px;
    text-decoration: none;
    overflow: hidden;
    padding: 5px;
}
.items h3{
    width: 100%;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.items a{
    text-decoration: none;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: black;
    
}
.qty-cont{
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.qty-cont input{
    width: 30px;
}
.prompts{
    position: fixed;
    top: 30%;
    left: 15%;
    z-index: 3;
    width: 70%;
    padding: 20px;
    background-color: rgb(162, 163, 251);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.actions{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.actions a{
    background-color: rgb(202, 203, 255);
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
}
.items form input[type="submit"]{
    background-color: rgb(202, 203, 255);
    cursor: pointer;
    padding: 10px;
    border: none;
    width: 100px;
}
.item-images{
    max-width: 100%;
    height: 150px;
    object-fit: cover;
}
#cart-response{
    position: fixed;
    left: 10%;
    top: 30%;
    padding: 20px;
    background-color: rgb(162, 163, 251);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 300px;
    transform: translateY(100%);
    z-index: -1;
    opacity: 0;
    transition: all 1s ease;
}
#cart-response.active{
    transform: translateY(0);
    opacity: 1;
    z-index: 3;
}
#close-dialog{
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 30px;
    cursor: pointer;
}
#ajax-loader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(162, 163, 251, 0.272);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.spinner{
    width: 100px;
    height: 100px;
    border-right: 2px solid rgb(11, 12, 26);
    border-left: 2px solid rgb(11, 12, 26);
    border-radius: 50%;
    animation: spin 2s infinite linear forwards;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.cart-items{
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: black;
}
.cart-items-cont{
    display: flex;
    align-items: center;
    gap: 20px;
}
.cart-images{
    width:50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
}

.cart-icon{
    color: rgb(202, 203, 255);
    font-size: 30px;
    text-decoration: none;
    position: relative;
    text-decoration: none;
}
.fa-xmark{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}
#items-count{
    font-size: 16px;
}
.cart-page{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgb(202, 203, 255);
    padding: 10px;
    z-index: 2;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
}
.cart-page-items{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    flex-wrap: wrap;
}
.cart-page form input[type="submit"]{
    background-color: rgb(0, 0, 0);
    padding: 5px;
    cursor: pointer;
    border: none;
    color: white;
}
#checkout-link{
    padding: 10px;
    text-decoration: none;
    background-color: rgb(165, 167, 253);
    color: black;
    width: 200px;
    text-align: center;
    position: sticky;
    top: 5px;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.wrapper::before{
    width: 100%;
    height: 120%;
    position: absolute;
    content: "";
    top: -10%;
    left: 0;
    border-radius: 50%;
    background-color: rgb(165, 167, 253);
    transform: translateX(-50%);
    z-index: -1;
}
.wrapper form{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
    background-color: rgb(165, 167, 253);
    border-radius: 20px;
}
.wrapper .fields{
    max-width: 100%;
    height: 70%;
    display: grid;
    gap: 65px;
    grid-template-columns: auto auto;
    align-content: flex-start;
    background-color: rgb(202, 203, 255);
    padding: 10px;
    border-radius: 20px;
}
.wrapper form div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}
.wrapper form div span{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wrapper form input:required, select{
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.wrapper form input[type="submit"]{
    padding: 10px;
    width: 200px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.checkout-items{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(165, 167, 253);
    padding: 10px;
}
.checkout-status{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(165, 167, 253);
    border-radius: 20px;
    padding: 50px 10px;
    margin-top: 50px;
}
.checkout-status a{
    font-size: 18px;
    color: rgb(0, 0, 0);
}
.checkout-options{
    position: fixed;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    background-color: rgb(202, 203, 255);
    z-index: 3;
    border-radius: 30px;
    transition: all 1s ease;
}
.checkout-options.inactive{
    scale: 0;
}
.checkout-options a, #guest-checkout{
    width: 50%;
    padding: 20px;
    text-decoration: none;
    background-color: rgb(11, 12, 26);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    border: none;
}
#guest-checkout{
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}
.payment-method{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.payment-method div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
footer{
    width: 100%;
    background-color: #080808;
    color: rgb(162, 163, 251);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
@media screen and (max-width:800px) {
    .header-text-big{
        font-size: 50px;
        justify-content: space-around;
    }
    .hero-img{
        top: 5%;
        height: 90%;
    }
    .search-panel{
        width: 90%;
    }
    .sorts{
        width: 80%;
    }
    .wrapper{
        flex-direction: column-reverse;
        height: auto;
    }
    .wrapper::before{
        transform: translateX(-30%);
    }
    .wrapper form{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .wrapper form .fields{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .wrapper form div{
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }
    .checkout-items{
        width: 90%;
    }
    .cart-page-items{
        display: flex;
        flex-direction: column;
    }
    #cart-response{
        left: 5%;
    }
}